@keyframes bounce {
  0% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

body {
    background: #FFF;
    color: #444;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
  font-weight: 300;
}



.fa {
    padding-right: 8px;
}
h1 .fa {
        font-size: 80%;
}

h5 {
    font-weight: bold;
}

p {
  margin: 16px 0;
}

a:hover, a:focus {
    color: #ca4392;
}

img.full-width {
    width: 100%;
}

.img-framed {
  border: 3px solid #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
}

.temp-hero {
  display: block;
  margin: 24px auto;
  text-align: center;
}

.mission {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.temp-hero img {
  max-width: 80%;
}


.button {
  color:#FFF;
  background: #0095CB;
  border-radius: 5px;
  padding: 8px 16px;
  display: inline-block;
  font-weight: bold;
}
.button:hover,
.button:active,
.button:focus {
  color: #FFF;
  background:#097BA5;
  text-decoration: none;
}

.button.primary {
  background:#11a34b;
}
.button.primary:hover,
.button.primary:active,
.button.primary:focus {
  background:#0e853d;
}

.button.out {
  background:#999;
}
.button.out:hover,
.button.out:active {
  background:#777;
}

header > div,
nav > div,
main > section {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
}


.wide {
  max-width: 800px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section .flex-container {
  align-items: flex-start;
}

.flex-container > div {
    display: inline-block;
    vertical-align: top;
}

header {
  background: url('/images/header.png') center center #999;
  background-size: cover;
  color: #FFF;
  text-shadow: 0px 1px 8px #000;
}

header .flex-container {
  min-height: 240px;
  justify-content: flex-start;
}

header .shield {
  width: 90px;
}
header img {
  width: 90px;
  margin: 12px 12px 12px 0;
  vertical-align: top;
}

header .title {
  display: inline-block;
  padding: 8px 0;
}
header .title h2 {
  font-weight: 600;
  margin: 0;
}

header .title h1 {
  margin: 0;
  font-size: 42px;
}
header .title h4 {
  margin: 2px 2px 8px;
}

nav {
  background: #EEE;
  padding: 8px 0;
  z-index: 2;
  text-align: center;
}

.sticky header {
    border-bottom: 54px solid transparent;
}

.sticky nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 8px rgba(0,0,0,0.5);
}
nav .sticky-title {
  display: none;
}

nav .sticky-title a {
  padding: 0 12px;
}
nav .sticky-title img {
  height: 34px;
}

.sticky nav .sticky-title {
  display: inline-block;
}
.nav-spacer {
    display: none;
}
.sticky .nav-spacer {
    display: block;
}

nav a {
  display: inline-block;
  padding: 8px 12px;
}

main section {
    padding: 20px 12px;
}

section i {
  text-indent: initial;
}

section.tools p {
  margin: 0;
}

section.tools .flex-container,
section.speakers .flex-container {
  flex-wrap: wrap;
  justify-content: space-around;
}
section.tools .flex-container > div {
  padding: 20px 12px;
}
section.speakers .flex-container > div {
  padding: 20px;
}
section.tools img,
section.speakers img {
  max-width: 140px;
  margin: 0 auto;
}

section.tools h3,
section.speakers .flex-container {
  text-align: center;
}

section.speakers h3,
section.schedule17 h3  {
    font-weight: bold;
    color: #ca4392;
}

section.schedule17 .workshop {
    margin: 8px 0;
    padding: 0 16px;
    border-radius: 8px;
    max-width: 49%;
    background: #EEE;
}


section.schedule17 .flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

section.schedule17 .button {
    margin: 0 auto 24px;
}

section.speakers .speaker-title {
    max-width: 200px;
}

section.sponsor .flex-container > div {
  max-width: 49%;
}

section h4 {
    text-align: center;
    font-weight: 500;
}

section.sponsor .logo {
  padding: 24px 60px;
  margin: 0 auto;
}

section.sponsor .venue-sponsor  {
    max-width: 49%;
    display: inline-block;
    vertical-align: middle;
}
section.sponsor .venue-sponsor-logo {
    padding: 16px;
}

section.location .map {
  min-width: 30%;
}

section.location .map img {
  margin: 0 auto;
}

section.schedule .flex-container {
  align-items: flex-start;
  justify-content: flex-start;
}
section.schedule time {
    min-width: 75px;
    color: #999;
    text-align: right;
    margin-right: 20px;
}

section.schedule .description {
    display: inline-block;
}

section.schedule .name {
  color: #999;
}

section.schedule .row {
  background: #FFF;
  padding: 8px;
}
section.schedule .row.alt {
  background: #F8F8F8;
}

section.schedule .row.break .description {
  color: #ABB3A8;
}
section.schedule .row:first-child {
    border-radius: 6px 6px 0 0;
}

section.schedule .row:last-child {
    border-radius: 0 0 6px 6px;
}

section.ticket .cta {
  text-align: center;
  margin: 42px 0 0;
}



header.dd17 {
    height: 62vw;
    max-height: 100vh;
    background: url('/images/duxday-2017-title.png') left center #999;
    background-size: cover;
    color: #FFF;
    text-shadow: none;
    position: relative;
}

header.dd17 a.down {
    color: #000;
    text-align: center;
    font-size: 4vw;
    padding-bottom: 1vw;
    vertical-align: bottom;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
}
header.dd17 a.down:hover {
    -moz-animation: bounce 1s infinite;
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
}

@media (max-width: 642px) {
  header .title h1 {
    font-size: 22px;
    font-weight: 600;
  }

  section .flex-container {
    flex-wrap: wrap;
  }

  section.schedule .flex-container {
    flex-wrap: nowrap;
  }
  section.sponsor .flex-container > div,
  section.location .flex-container > div,
  section.schedule17 .flex-container > div {
    max-width: 100% !important;
    width: 100%;
  }


  section.sponsor img,
  section.location img,
  section.sponsor .logo {
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
  }

  .flex-container.fix > div {
    width: 340px;
  }
}

@media (max-width: 555px) {
  nav .full-text,
  nav .mobile-hide {
    display: none;
  }
}
@media (max-width: 500px) {
  .sticky nav .sticky-title {
    display: none;
  }
}

@media (max-width: 420px) {
  section.tools .flex-container,
  section.speakers .flex-container {
    flex-direction: column;
    align-items: center;
  }

  section.tools .flex-container > div,
  section.speakers .flex-container > div {
    max-width: none;
  }


}
