<header>

  <div>
    <img src="images/dux-shield.png" />
    <div class="title">
      <h2>DUX Day</h2>
      <h1>Mastering Prototyping Tools</h1>
    </div>
  </div>

</header>
<nav>

  <div class="flex-container">
    <a href="#">About</a>
    <a href="#">Location</a>
    <a href="#">Schedule</a>
    <a href="#" class="button primary">Get your ticket</a>
  </div>

</nav>
<main>

  <section>
    <h2>About the Event</h2>
    <p>
      DUX Day is a full day mini-conference. The theme is mastering prototyping tools, and together we will do just that. Learn from experts in the community as they show you what you can do with a plethora of unique prototyping tools, including Invision, Axure and Framer. Make sure you bring your laptop loaded with trials of these tools, because in the afternoon we will break out for workshops where we can pursue the prototyping tools that we are most intrigued by. Get hands on experience creating prototypes with the pros.
    </p>
  </section>
  <section class="wide flex-container sponsor">

    <div>
      <h3>Sponsored By</h3>
      <img src="images/TEKsystems.png" class="img-responsive" />
      <p>
        This event is sponsored by TEKsystems who are generously providing coffee in the morning and food for lunch for all attendees. They have been incredible partners for our community and will be available to chat if you'd like to connect with them.
      </p>
    </div>

    <div>
      <h3>Sponsoring</h3>
      <img src="images/codecraft.gif" class="img-responsive" />
      <p>
        We are also very happy to be giving back as a community by sponsoring Codecraft Lab. Codecraft Lab is a 501(c)3 non-profit organization that is making a difference in Brevard County by teaching kids how to code. One-hundred percent of the ticket proceeds are going directly to their organization. Thank you for helping us make a difference as a community!
      </p>
    </div>

  </section>

</main>
