<header class="header">

  <div class="flex-container">
    <div class="sheild">
      <img src="images/dux-shield.png" />
    </div>

    <div class="title">
      <h2>DUX Day</h2>
      <h1>Mastering Prototyping Tools</h1>
      <h4>June 25, 2016</h4>
    </div>
  </div>

</header>
<nav>


  <div class="flex-container">
    <div class="sticky-title">
      <a ng-click="scrollTo('header')" href="javascript: ;"><img src="images/dux-shield.png" title="DUX Day: Mastering Prototyping Tools" /></a>
    </div>
    <a ng-click="scrollTo('speakers')" href="javascript: ;"><i class="fa fa-user"></i> Speakers</a>
    <a ng-click="scrollTo('tools')" href="javascript: ;"><i class="fa fa-wrench"></i> Tools</a>
    <a ng-click="scrollTo('schedule')" href="javascript: ;"><i class="fa fa-calendar"></i> Schedule</a>

    <a ng-click="scrollTo('location')" href="javascript: ;"><i class="fa fa-map-marker"></i> Location</a>
    <a ng-click="scrollTo('about')" href="javascript: ;"><i class="fa fa-lightbulb-o"></i> About</a>
  </div>

</nav>
<main>



  <section class="thanks">
    <h2><i class="fa fa-trophy"></i> Thanks!</h2>
    <p>
      This was an amazing event, and it was amazing because you made it great. We are the community that comprises us, that comes out every month, that teaches and learns from each other. And because of that, we are doing amazing things. <strong>Thank you for being a part of this community!</strong>
    </p>
    <p>
      We want to extend an extra special thanks to all of our speakers. You can find them all on twitter by following the links below. You will also find their presentations and workshop materials posted below as well.
    </p>
    <p>
      We also want to thank TEKsystems Digital for providing the food and drinks for the day. And finally thanks to the prototyping tools, who all contributed swag and licenses for us to give away at the event.
    </p>
    <p>
      Check out <a href="https://twitter.com/search?q=%23DUXDay" target="_blank">#DUXDay</a> on twitter to see some great pictures and share your favorite moments from the day.
    </p>
  </section>


  <section class="speakers">
    <h2><i class="fa fa-user"></i> Speakers &amp; Materials</h2>
    <div class="flex-container">
      <div ng-repeat="speaker in schedule" ng-if="speaker.speakerName">
        <img ng-src="{{speaker.imagePath}}" class="img-responsive img-circle img-framed" />
        <h3>{{speaker.speakerName}}</h3>
        <div>
          <strong>{{speaker.speakerTitle}}</strong>
        </div>
        <div>
          {{speaker.speakerCompany}}
        </div>
        <div>
          <a ng-href="https://twitter.com/{{speaker.twitter}}" target="_blank">@{{speaker.twitter}}</a>
        </div>
      </div>
    </div>
    <div class="flex-container fix">
      <div>
        <h4><i class="fa fa-desktop"></i> Presentations</h4>
        <div style="line-height: 28px;">
          <i class="fa fa-file-pdf-o"></i> <a href="http://www.downtownux.com/presentations/CroyBosch-WhyWePrototype.pdf" target="_blank">Croy Bosch: A prototyping mindset</a><br>
          <i class="fa fa-file-pdf-o"></i> <span title="Check back soon!">Jean Kaluza: Starting with Paper</span><br>
          <i class="fa fa-file-pdf-o"></i> <a href="http://www.downtownux.com/presentations/TommyHung-Invision.pdf" target="_blank">Tommy Hung: Invision Session</a><br>
          <i class="fa fa-file-pdf-o"></i> <a href="http://www.downtownux.com/presentations/NikWilliamson-Axure.pdf" target="_blank">Nik Williamson: Axure Session</a><br>
          <i class="fa fa-file-pdf-o"></i> <a href="http://www.downtownux.com/presentations/PaulHershey-Framer.pdf" target="_blank">Paul Hershey: Framer Session</a><br>
        </div>
      </div>
      <div>
        <h4><i class="fa fa-archive"></i> Workshop Files</h4>
        <p>

        </p>
        <div style="line-height: 28px;">
          <i class="fa fa-file-archive-o"></i> <a href="http://www.downtownux.com/workshops/sketch_invision_worskhip_files.zip" target="_blank">InVision/Sketch Workshop Files</a><br>
          <i class="fa fa-file-picture-o"></i> <a href="http://www.downtownux.com/workshops/axure-workshop.rp" target="_blank">Axure Workshop Files</a><br>
          <i class="fa fa-github"></i> <a href="https://github.com/paulhershey/DUX-Day/tree/master/Paul-Hershey" target="_blank">Framer Workshop Files</a><br>
        </div>
      </div>
  </section>

  <section class="tools">
    <h2><i class="fa fa-wrench"></i> The Prototyping Tools</h2>
    <p>
      For the workshops, we used the following tools. Thank you to all of the companies for contributing licesnes for our giveaway! You can find the app download checklist for the day below as well.
    </p>
    <div class="flex-container">
      <div>
        <a href="https://www.invisionapp.com/" target="_blank">
          <img src="images/invision-logo.png" class="img-responsive" />
        </a>
        <h3>InVision</h3>

      </div>
      <div>
        <a href="http://www.axure.com/download" target="_blank"><img src="images/axure-logo.png" class="img-responsive" /></a>
        <h3>Axure</h3>
      </div>
      <div>
        <a href="http://framerjs.com/download/"><img src="images/framer-logo.png" class="img-responsive" /></a>
        <h3>Framer</h3>
      </div>

      <div>
        <a href="http://www.sketchapp.com/" target="_blank">
          <img src="images/sketch-logo.png" class="img-responsive" />
        </a>
        <h3>Sketch</h3>

      </div>
    </div>

    <h4><i class="fa fa-download"></i> The App Download Checkist</h2>
    <div style="line-height: 28px;">
      <i class="fa fa-check-square-o"></i> <a href="https://www.invisionapp.com/" target="_blank">Create an account for InVision</a> (one project free for life)<br>
      <i class="fa fa-check-square-o"></i> <a href="http://www.axure.com/download" target="_blank">Install Axure</a> (30 day tral)<br>
      <i class="fa fa-check-square-o"></i> <a href="http://framerjs.com/download/">Install Framer Studio</a> (8 "active" hour trial) if you have a Mac <br>
      <strong>OR</strong> <a href="http://www.prototypingwithframer.com/framer-on-windows-with-atom/" target="_blank">set up your framer.js environment</a> (free/open source) on your PC<br>
      <i class="fa fa-check-square-o"></i> <a href="http://www.sketchapp.com/" target="_blank">Install Sketch</a> (14 day trial) if you have a Mac <br>
      <strong>OR</strong> have your favorite image editing software handy on your PC<br>
      <i class="fa fa-check-square-o"></i> Get the <a href="https://www.invisionapp.com/craft" target="_blank">Craft</a>, <a href="https://github.com/getflourish/Sketch-Mate">Sketch-Mate</a>, and <a href="https://github.com/rodi01/RenameIt">RenameIt</a> plugins for Sketch and InVision.<br>
    </div>
  </section>

  <section class="schedule">
    <h2><i class="fa fa-calendar"></i> Schedule</h2>
    <p>
      DUX Day was on <strong>Saturday, June 25th, 2016</strong>.
    </p>
    </p>
    <div ng-if="!schedule">
      Loading...
    </div>
    <div>


    <div ng-repeat="event in schedule" class="flex-container row"  ng-class-even="'alt'" ng-class="{'break':event.break}">
      <time>{{event.time}}</time>
      <span class="description">{{event.description}}
      <br />
      <div ng-if="event.speakerName" class="name">{{event.speakerName}}</div>

    </div>
    </div>
  </section>



  <section class="location">
    <h2><i class="fa fa-map-marker"></i> Location</h2>
    <div class="flex-container">
      <div>
        <p>
          Thank you to <a href="http://www.powerdms.com/" target="_blank">PowerDMS</a> for providing the space for DUX Day. It was an incredible place for the event.
        </p>
        <p>
          PowerDMS is located at <a href="https://www.google.com/maps/place/PowerDMS/@28.540923,-81.3834048,17z/data=!3m1!4b1!4m5!3m4!1s0x88e77afb79ce59d1:0xec256baa068aa102!8m2!3d28.540923!4d-81.3812161" title="View on Google Maps" target="_blank">101 S Garland Ave #300 Orlando, FL 32801, Orlando, FL</a>.
        </p>
      </div>
      <div class="map">
        <a href="https://www.google.com/maps/place/PowerDMS/@28.540923,-81.3834048,17z/data=!3m1!4b1!4m5!3m4!1s0x88e77afb79ce59d1:0xec256baa068aa102!8m2!3d28.540923!4d-81.3812161" title="View on Google Maps">
          <img src="images/map.png" class="img-responsive img-rounded img-framed" />
        </a>
      </div>
    </div>

  </section>


  <section class="social">
    <h2><i class="fa fa-twitter"></i> Social</h2>
    <p>
      Follow us on Twitter to stay to see what we are up to <a href="https://twitter.com/DowntownUX" target="_blank">@DowntownUX</a>.
    </p>
    <p>
      Relive the moments and share your favorites on twitter by checking out <a href="https://twitter.com/search?q=%23DUXDay" target="_blank">#DUXDay</a>. And as always, be awesome to each other.
    </p>

  </section>


  <section class='about'>
    <h2><i class="fa fa-lightbulb-o"></i> About the Event</h2>
    <p>
      DUX Day is an all day mini-conference. The theme is mastering prototyping tools, and together we will do just that. Learn from experts in the community as they show you what you can do with a plethora of prototyping tools. Speakers will be highlighting InVision, Axure and Framer.
    </p>
    <p>
      The day will start with a speaker relating to our natural inclination to avoid prototyping and why its so important that we do. We will get a great introduction or refresher into the foundation of paper prototyping. And then speakers will cover each of our three tools, sharing the pros and the cons and why you might want to use it. We will round out the day by breaking into workshops. Attendees choose which tool they want to focus on and join together to create prototypes using it.
    </p>
  </section>
  <section class="wide sponsor">
    <div class="flex-container">
      <div>
        <h4><i class="fa fa-beer"></i> Sponsored By</h4>
        <a href="https://www.teksystems.com/it-careers/job-opportunities/digital-and-creative-jobs" target="_blank"><img src="images/teksystems-digital.png" title="Learn more about TEKsystems Digital and Creative Services" class="img-responsive" /></a>
        <p>
          This event is sponsored by <a href="https://www.teksystems.com/it-careers/job-opportunities/digital-and-creative-jobs" target="_blank">TEKsystems Digital and Creative Services</a> who are generously providing morning coffee and lunch for all attendees. They are incredible partners for our community and will be available to chat if you'd like to connect with them.
        </p>
      </div>

      <div>
        <h4><i class="fa fa-heart"></i> Sponsoring</h4
        <a href="http://www.codecraftlab.org/" target="_blank"><img src="images/codecraft.gif" title="Learn more about Codecraft Lab" class="img-responsive" /></a>
        <p>
          We are also very happy to be giving back as a community by sponsoring <a href="http://www.codecraftlab.org/" target="_blank">Codecraft Lab</a>. Codecraft Lab is a 501(c)3 non-profit organization that is making a difference in Brevard County by teaching kids how to code. One-hundred percent of the ticket proceeds are going directly to their organization. Thank you for helping us make a difference as a community!
        </p>
      </div>

    </div>

  </section>

  <section class="ticket">
    <h2><i class="fa fa-ticket"></i> Register</h2>
    <p>
      Still not certain? Tickets are only $25 and 100% of it goes to <a href="http://www.codecraftlab.org/" target="_blank">Codecraft Lab</a>. Feel free to <a href="http://www.meetup.com/Downtown-UX-Meetup/members/?op=leaders">ask us any questions you might have</a>. Attendance will be very limited for this mini-conference so if you are interested in coming, get your ticket as soon as you can. We're looking forward to seeing you there!
    </p>
    <div class="cta">
      <a href="https://www.eventbrite.com/e/dux-day-mastering-prototyping-tools-tickets-25331235407" class="button out"><i class="fa fa-ticket"></i> Sold Out</a>
    </div>
  </section>



  <section class="dux">
    <h2><i class="fa fa-home"></i> Downtown UX</h2>
    <p>
      So what is the Downtown UX Meetup you ask? We are a monthly UX meetup in the Downtown Orlando area. Even if you've never joined us before, you are more than welcome to join us for DUX Day. To learn more about our past events, <a href="http://www.meetup.com/Downtown-UX-Meetup/">check us out on Meetup.com</a>.
    </p>
    <img src="images/dux-banner.png" class="img-responsive img-rounded img-framed" />
  </section>

</main>
