<header class="dd17">
    <a ng-click="scrollTo('main')" href="javascript: ;" class="down"><i class="fa fa-chevron-down"></i></a>
</header>
<nav>


  <div class="flex-container">
    <div class="sticky-title">
      <a ng-click="scrollTo('main')" href="javascript: ;"><img src="images/dux-shield.png" title="DUX Day 2017" /></a>
    </div>
    <a ng-click="scrollTo('speakers')" href="javascript: ;"><i class="fa fa-user"></i> Speakers</a>
    <a ng-click="scrollTo('schedule17')" href="javascript: ;"><i class="fa fa-calendar"></i> Schedule</a>

    <a ng-click="scrollTo('location')" href="javascript: ;"><i class="fa fa-map-marker"></i> Location</a>
    <a ng-click="scrollTo('about')" href="javascript: ;"><i class="fa fa-lightbulb-o"></i> About</a>
  </div>

</nav>

<div class="nav-spacer">

</div>

<main class="main">

    <section class="savedate">
      <h2><i class="fa fa-calendar"></i> Save the Date!</h2>
      <div class="flex-container">
        Tickets aren't yet available for DUX Day 2017, but will be soon. Check back for more info as it becomes available.
      </div>
    </section>

  <section class="speakers">
    <h2><i class="fa fa-user"></i> Speakers</h2>
    <div ng-show="!speakers2017">
        Loading...
    </div>
    <div class="flex-container">
        <div ng-repeat="speaker in speakers2017" ng-if="speaker.speakerName">
        <img ng-src="{{speaker.imagePath}}" class="img-responsive img-circle img-framed" />
        <h3>{{speaker.speakerName}}</h3>
        <div class="speaker-title">
          {{speaker.speakerTitle}}
        </div>
        <div>
          <a ng-href="https://twitter.com/{{speaker.twitter}}" target="_blank" ng-show="speaker.twitter">@{{speaker.twitter}}</a>
        </div>
      </div>
    </div>
  </section>

  <section class="schedule17">
    <h2><i class="fa fa-calendar"></i> Schedule</h2>
    <p>
      DUX Day will be held on <strong>Saturday, September 9th, 2017</strong>. This year's schedule will include some inspiring speakers but primarily be focused on in depth workshops.
  </p><p>
      <strong>Choose one of these four half day workshop when you get your ticket.</strong>
    </p>
    <div class="flex-container">

        <div class="img-framed workshop">
            <h3>Data-Driven UX Design</h3>
            <h5>Heather O’Neill</h5>
            <p>
                The face of UX is changing, and it’s no longer enough to rely on instinct and personal experience to create relevant designs. To move to the next level, your designs need to be based on data and relevant to the overall business structure. This might seem obvious in theory, but how do you make it happen?
            </p>
            <p>
                Join UX strategist and business consultant Heather O’Neill, CEO of Pixels for Humans, for a hands-on, in-depth exploration of creating and improving designs using data. In this workshop, you’ll learn how to include data as a core component of your design process, and how to design your own experiments for collecting the right data every time. You’ll learn how to determine what data to collect, how to devise and run experiments to collect the data you need, and how to use data to make better design decisions.
            </p>
            <a href="" class="button out" title="Tickets will be on sale soon!"><i class="fa fa-ticket"></i> Register</a>
        </div>

        <div class="img-framed workshop">
            <h3>Usability Testing From Strategy to Practice</h3>
            <h5>Matt Lavoie</h5>
            <p>
                Every piece of software with an interface has one thing in common, people. And where people are involved there will always be hidden gaps in usability we are blind to. One of the most effective ways to uncover these issues is through usability testing.
            </p>
            <p>
                Anyone can facilitate a usability test, but there are some important techniques you must learn to ensure you receive unbiased results. In this hands on training we will practice planning and conducting usability tests. Beyond practically facilitating usability testing, we will also consider how to make our research effective, engage our teams, and execute on our findings.
            </p>
            <p>
                This training will focus on applied practice, and we will learn these things by doing them. Attendees are encouraged to bring a product they would like to test to the workshop.
            </p>
            <a href="" class="button out" title="Tickets will be on sale soon!"><i class="fa fa-ticket"></i> Register</a>
        </div>

        <div class="img-framed workshop">
            <h3>Navigating your own path</h3>
            <h5>Gus Hernandez &amp; Alejandro Campos</h5>
            <p>
                So you’re tired of working for “the man” and want to strike out on your own? Great! But as you have probably noticed, there’s a lot more to it than just posting some work on Dribble and updating your LinkedIn profile.
            </p>
            <p>
                Join presenters Gus Hernandez and Alejandro Campos as they cover the basics of starting your own gig, client and project management and the importance of establishing an ethical compass that guides your business philosophy and work ethic. The workshop will end with a portfolio review so if you’ve been seeking feedback, this will be a great opportunity to get feedback from industry professionals who have been working with interactive design for 20+ years.
            </p>
            <a href="" class="button out" title="Tickets will be on sale soon!"><i class="fa fa-ticket"></i> Register</a>
        </div>

        <div class="img-framed workshop">
            <h3>Designing for Humans: Introduction to Design Thinking</h3>
            <h5>Jenae Ramos</h5>
            <p>
                Participate in this deep dive workshop into design thinking. Learn alongside peers as you tackle issues by researching, empathizing, ideating, and experimenting.
            </p>
            <a href="" class="button out" title="Tickets will be on sale soon!"><i class="fa fa-ticket"></i> Register</a>
        </div>
    </div>

    </div>
  </section>



  <section class="location">
    <h2><i class="fa fa-map-marker"></i> Location</h2>
    <div class="flex-container">
      <div>
        <p>
          DUX Day will be hosted at <a href="http://www.powerdms.com/" target="_blank">PowerDMS</a> and <a href="https://www.theironyard.com/locations/orlando" target="_blank">The Iron Yard</a>. Both locations are in the Church Street Exchange Building. Thank you to our venue sponsors!
        </p>
        <p>
          The Church Street Exchange at <a href="https://www.google.com/maps/place/PowerDMS/@28.540923,-81.3834048,17z/data=!3m1!4b1!4m5!3m4!1s0x88e77afb79ce59d1:0xec256baa068aa102!8m2!3d28.540923!4d-81.3812161" title="View on Google Maps" target="_blank">101 S Garland Ave, Orlando, FL 32801, Orlando, FL</a>.
        </p>
      </div>
      <div class="map">
        <a href="https://www.google.com/maps/place/PowerDMS/@28.540923,-81.3834048,17z/data=!3m1!4b1!4m5!3m4!1s0x88e77afb79ce59d1:0xec256baa068aa102!8m2!3d28.540923!4d-81.3812161" title="View on Google Maps">
          <img src="images/map.png" class="img-responsive img-rounded img-framed" />
        </a>
      </div>
    </div>

  </section>


  <section class='about'>
    <h2><i class="fa fa-lightbulb-o"></i> About the Event</h2>
    <p>
      DUX Day is an all day mini-conference. Last year's theme was <a href="/#/dux-day-2016/">mastering prototyping tools</a>. This year we will be diving deeper into the practices that can help us master our craft. Learn from experts in the community as they dive into the practices that distinguish their work and help them excel in their UX practice.
    </p>
  </section>
  <section class="wide sponsor">
    <div class="flex-container">
      <div>
        <h4><i class="fa fa-beer"></i> Sponsored By</h4>
        <a href="https://www.teksystems.com/it-careers/job-opportunities/digital-and-creative-jobs" target="_blank"><img src="images/teksystems-digital.png" title="Learn more about TEKsystems Digital and Creative Services" class="img-responsive" /></a>
        <p>
          This event is sponsored by <a href="https://www.teksystems.com/it-careers/job-opportunities/digital-and-creative-jobs" target="_blank">TEKsystems Digital and Creative Services</a> who are generously providing morning coffee and lunch for all attendees. They are incredible partners for our community and will be available to chat if you'd like to connect with them.
        </p>
      </div>

      <div>
        <h4><i class="fa fa-heart"></i> Sponsoring</h4
        <a href="http://www.codecraftlab.org/" target="_blank"><img src="images/codecraft.gif" title="Learn more about Codecraft Lab" class="img-responsive" /></a>
        <p>
          We are also very happy to be giving back as a community for the second year in a row by sponsoring <a href="http://www.codecraftlab.org/" target="_blank">Codecraft Lab</a>. Codecraft Lab is a 501(c)3 non-profit organization that is making a difference in Brevard County by teaching kids how to code. One-hundred percent of the ticket proceeds are going directly to their organization. Thank you for helping us make a difference as a community!
        </p>
      </div>

    </div>

  </section>

  <section class="ticket">
    <h2><i class="fa fa-ticket"></i> Register</h2>
    <p>
      Save the date! Tickets aren't yet available, but when they are you can get the details here. And remember, 100% of ticket sales go to <a href="http://www.codecraftlab.org/" target="_blank">Codecraft Lab</a>. Feel free to <a href="http://www.meetup.com/Downtown-UX-Meetup/members/?op=leaders">ask us any questions you might have</a>. Attendance will be very limited for this mini-conference so if you are interested in coming, get your ticket as soon as you can. We're looking forward to seeing you there!
    </p>
    <div class="cta">
      <a href="" class="button out" title="Tickets will be on sale soon!"><i class="fa fa-ticket"></i> Tickets will be on sale soon!</a>
    </div>
  </section>



  <section class="dux">
    <h2><i class="fa fa-home"></i> Downtown UX</h2>
    <p>
      So what is the Downtown UX Meetup you ask? We are a monthly UX meetup in the Downtown Orlando area. Even if you've never joined us before, you are more than welcome to join us for DUX Day. To learn more about our past events, <a href="http://www.meetup.com/Downtown-UX-Meetup/">check us out on Meetup.com</a>.
    </p>
  </section>

  <section class="social">
    <h2><i class="fa fa-twitter"></i> Social</h2>
    <p>
      Follow us on Twitter to stay to see what we are up to <a href="https://twitter.com/DowntownUX" target="_blank">@DowntownUX</a>.
    </p>
    <p>
      Relive the moments and share your favorites on twitter by checking out <a href="https://twitter.com/search?q=%23DUXDay" target="_blank">#DUXDay</a>. And as always, be awesome to each other.
    </p>

  </section>

</main>
