<header class="header">

  <div class="flex-container">
    <div class="sheild">
      <img src="images/dux-shield.png" />
    </div>

    <div class="title">
      <h2>DUX Day</h2>
      <h1>Mastering Prototyping Tools</h1>
      <h4>June 25, 2016</h4>
    </div>
  </div>

</header>
<nav>


  <div class="flex-container">
    <div class="sticky-title">
      <a ng-click="scrollTo('header')" href="javascript: ;"><img src="images/dux-shield.png" title="DUX Day: Mastering Prototyping Tools" /></a>
    </div>
    <a ng-click="scrollTo('about')" href="javascript: ;"><i class="fa fa-lightbulb-o"></i> About</a>
    <a ng-click="scrollTo('speakers')" href="javascript: ;" class="mobile-hide"><i class="fa fa-user"></i> Speakers</a>
    <a ng-click="scrollTo('location')" href="javascript: ;"><i class="fa fa-map-marker"></i> Location</a>
    <a ng-click="scrollTo('schedule')" href="javascript: ;"><i class="fa fa-calendar"></i> Schedule</a>
    <a href="https://www.eventbrite.com/e/dux-day-mastering-prototyping-tools-tickets-25331235407" class="button primary"><i class="fa fa-ticket"></i> <span class="full-text">Get Your</span> Ticket</a>
  </div>

</nav>
<main>

  <section class='about'>
    <h2><i class="fa fa-lightbulb-o"></i> About the Event</h2>
    <p>
      DUX Day is an all day mini-conference. The theme is mastering prototyping tools, and together we will do just that. Learn from experts in the community as they show you what you can do with a plethora of prototyping tools. Speakers will be highlighting InVision, Axure and Framer.
    </p>
    <p>
      The day will start with a speaker relating to our natural inclination to avoid prototyping and why its so important that we do. We will get a great introduction or refresher into the foundation of paper prototyping. And then speakers will cover each of our three tools, sharing the pros and the cons and why you might want to use it. We will round out the day by breaking into workshops. Attendees choose which tool they want to focus on and join together to create prototypes using it.
    </p>
  </section>
  <section class="wide sponsor">
    <div class="flex-container">
      <div>
        <h4><i class="fa fa-beer"></i> Sponsored By</h4>
        <a href="https://www.teksystems.com/it-careers/job-opportunities/digital-and-creative-jobs" target="_blank"><img src="images/tekdcs.jpg" title="Learn more about TEKsystems Digital and Creative Services" class="img-responsive" /></a>
        <p>
          This event is sponsored by <a href="https://www.teksystems.com/it-careers/job-opportunities/digital-and-creative-jobs" target="_blank">TEKsystems Digital and Creative Services</a> who are generously providing morning coffee and lunch for all attendees. They are incredible partners for our community and will be available to chat if you'd like to connect with them.
        </p>
      </div>

      <div>
        <h4><i class="fa fa-heart"></i> Sponsoring</h4
        <a href="http://www.codecraftlab.org/" target="_blank"><img src="images/codecraft.gif" title="Learn more about Codecraft Lab" class="img-responsive" /></a>
        <p>
          We are also very happy to be giving back as a community by sponsoring <a href="http://www.codecraftlab.org/" target="_blank">Codecraft Lab</a>. Codecraft Lab is a 501(c)3 non-profit organization that is making a difference in Brevard County by teaching kids how to code. One-hundred percent of the ticket proceeds are going directly to their organization. Thank you for helping us make a difference as a community!
        </p>
      </div>

    </div>

  </section>

  <section class="tools">
    <h2><i class="fa fa-wrench"></i> The Prototyping Tools</h2>
    <p>
      To participate in the workshops, you will need to bring a laptop with the prototyping tools installed. Please use the links below to install each of the tools you would like to work with.
    </p>
    <div class="flex-container">
      <div>
        <a href="https://www.invisionapp.com/" target="_blank">
          <img src="images/invision-logo.png" class="img-responsive" />
        </a>
        <h3>InVision</h3>
        <div>
          <a href="https://www.invisionapp.com/" target="_blank">Create your account</a><br />
          <em>Trial:</em> One Project, free forever.
          <br /><br />
          InVision has contributed a 3 month Pro License we will be giving away!
        </div>

      </div>
      <div>
        <a href="http://www.axure.com/download" target="_blank"><img src="images/axure-logo.png" class="img-responsive" /></a>
        <h3>Axure</h3>
        <div>
          <a href="http://www.axure.com/download" target="_blank">Download Axure</a><br />
          <em>Trial:</em> 30 Days
          <br /><br />

          Axure has contributed an Axure RP Pro License we will be giving away!
        </div>
      </div>
      <div>
        <a href="http://framerjs.com/download/"><img src="images/framer-logo.png" class="img-responsive" /></a>
        <h3>Framer</h3>
        <div>
          <a href="http://framerjs.com/download/">Download Framer</a><br />
          <em>Trial:</em> 8 "active" hours
          <br /><br />

          Framer has contributed a Full License we will be giving away!
        </div>
      </div>

      <div>
        <a href="http://www.sketchapp.com/" target="_blank">
          <img src="images/sketch-logo.png" class="img-responsive" />
        </a>
        <h3>Sketch</h3>
        <div>
          You can use InVision with any image editing software, but we will be using it with Sketch.
          <br /><br />
          <a href="http://www.sketchapp.com/" target="_blank">Download Sketch</a><br />
          <em>Trial:</em> 14 Days<br />
          *Available only for Macs
        </div>

      </div>

  </section>

  <section class="speakers">
    <h2><i class="fa fa-user"></i> Speakers</h2>
    <div class="flex-container">
      <div ng-repeat="speaker in schedule" ng-if="speaker.speakerName">
        <img ng-src="{{speaker.imagePath}}" class="img-responsive img-circle img-framed" />
        <h3>{{speaker.speakerName}}</h3>
        <div>
          <strong>{{speaker.speakerTitle}}</strong>
        </div>
        <div>
          {{speaker.speakerCompany}}
        </div>
        <div>
          <a ng-href="https://twitter.com/{{speaker.twitter}}" target="_blank">@{{speaker.twitter}}</a>
        </div>
      </div>

  </section>

  <section class="location">
    <h2><i class="fa fa-map-marker"></i> Location</h2>
    <div class="flex-container">
      <div>
        <p>
          DUX Day is grateful to our in kind sponsor, <a href="http://www.powerdms.com/" target="_blank">PowerDMS</a>, for graciously allowing us to use their incredible space for this event.

          PowerDMS is located on the third floor of the exchange building at <a href="https://www.google.com/maps/place/PowerDMS/@28.540923,-81.3834048,17z/data=!3m1!4b1!4m5!3m4!1s0x88e77afb79ce59d1:0xec256baa068aa102!8m2!3d28.540923!4d-81.3812161" title="View on Google Maps" target="_blank">101 S Garland Ave #300 Orlando, FL 32801, Orlando, FL</a>.
        </p>
      </div>
      <div class="map">
        <a href="https://www.google.com/maps/place/PowerDMS/@28.540923,-81.3834048,17z/data=!3m1!4b1!4m5!3m4!1s0x88e77afb79ce59d1:0xec256baa068aa102!8m2!3d28.540923!4d-81.3812161" title="View on Google Maps">
          <img src="images/map.png" class="img-responsive img-rounded img-framed" />
        </a>
      </div>
    </div>

  </section>

  <section class="schedule">
    <h2><i class="fa fa-calendar"></i> Schedule</h2>
    <p>
      DUX Day is on <strong>Saturday, June 25th, 2016</strong>. <a href="https://twitter.com/DowntownUX" target="_blank">Follow us on Twitter</a> to stay up to date with any announcements or schedule changes.
    </p>
    </p>
    <div ng-if="!schedule">
      Loading...
    </div>
    <div>


    <div ng-repeat="event in schedule" class="flex-container row"  ng-class-even="'alt'" ng-class="{'break':event.break}">
      <time>{{event.time}}</time>
      <span class="description">{{event.description}}
      <br />
      <div ng-if="event.speakerName" class="name">{{event.speakerName}}</div>
      </span>
    </div>
    </div>
  </section>

  <section class="ticket">
    <h2><i class="fa fa-ticket"></i> Register</h2>
    <p>
      Still not certain? Tickets are only $25 and 100% of it goes to <a href="http://www.codecraftlab.org/" target="_blank">Codecraft Lab</a>. Feel free to <a href="http://www.meetup.com/Downtown-UX-Meetup/members/?op=leaders">ask us any questions you might have</a>. Attendance will be very limited for this mini-conference so if you are interested in coming, get your ticket as soon as you can. We're looking forward to seeing you there!
    </p>
    <div class="cta">
      <a href="https://www.eventbrite.com/e/dux-day-mastering-prototyping-tools-tickets-25331235407" class="button primary"><i class="fa fa-ticket"></i> Get your ticket</a>
    </div>
  </section>

  <section class="social">
    <h2><i class="fa fa-twitter"></i> Social</h2>
    <p>
      Follow us on Twitter to stay in the know with important updates: <a href="https://twitter.com/DowntownUX" target="_blank">@DowntownUX</a>.
    </p>
    <p>
      Please feel free to share your excitement about DUX Day or your experience the day of by <a href="https://twitter.com/intent/tweet?text=%23DUXDay" title="Click to start tweeting. We've already got the hashtag in there for you." target="_blank">tweeting using the hashtag #DUXDay</a>. And as always, be awesome to each other.
    </p>

  </section>

  <section class="dux">
    <h2><i class="fa fa-home"></i> Downtown UX</h2>
    <p>
      So what is the Downtown UX Meetup you ask? We are a monthly UX meetup in the Downtown Orlando area. Even if you've never joined us before, you are more than welcome to join us for DUX Day. To learn more about our past events, <a href="http://www.meetup.com/Downtown-UX-Meetup/">check us out on Meetup.com</a>.
    </p>
    <img src="images/dux-banner.png" class="img-responsive img-rounded img-framed" />
  </section>

</main>
